@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+3:wght@300&display=swap');

/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/karaoke_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100:  hsl(213, 19%, 19%);/* oklch(30.33% 0.016 252.42); */
  --color-base-200: hsl(213, 19%, 9%); /* oklch(25.26% 0.014 253.1);*/
  --color-base-300:  hsl(213, 19%, 1%);/* oklch(20.15% 0.012 254.09); */
  --color-base-content: white; /* oklch(97.807% 0.029 256.847); */
  --color-primary:  hsl(269, 78%, 51%); /* oklch(58% 0.233 277.117); */
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: hsl(206, 93%, 35%); /* oklch(58% 0.233 277.117); */
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(96% 0.016 293.756);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: blah;
  color: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: hsl(44, 100%, 50%); /* hsl(344, 100%, 70%); /* oklch(58% 0.253 17.585); */
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */

@theme { 
  --breakpoint-xxs: 16rem; /* 256px */
  --breakpoint-xs: 25rem; /* 400px */
  
  --color-neon-dark-bg:  hsl(213, 19%, 9%);
  --root-bg: hsl(213, 19%, 9%);
  --color-neon-purple: hsl(269, 78%, 51%); /* #7f21e4 */
  --color-neon-pink: #ff00ff;
  --color-neon-green: #3dc06c;
  --color-neon-blue: hsl(206, 93%, 50%); /* #098ff6; original: #3c89c3; */
  --color-neon-yellow: hsl(44, 100%, 50%);


  --box-shadow-neon-pink:     
    0 0 10px #ff00ff, /* Outer glow */
    0 0 20px #ff00ff, 
    0 0 40px #ff00ff, 
    inset 0 0 10px #ff00ff, /* Inner glow */
    inset 0 0 20px #ff00ff;

    
  --box-shadow-neon-blue:     
    0 0 10px #098ff6,
    0 0 20px #098ff6, 
    0 0 40px #098ff6, 
    inset 0 0 10px #098ff6, 
    inset 0 0 20px #098ff6;

  --box-shadow-neon-green:
    0 0 5px #3dc06c,
    0 0 10px #3dc06c,
    0 0 20px #3dc06c,
    inset 0 0 10px #fff,
    inset 0 0 20px #fff; 
  
  --box-shadow-neon-white:     
    0 0 10px #fff, 
    0 0 20px #fff, 
    0 0 40px #fff,
    inset 0 0 10px #fff, 
    inset 0 0 20px #fff; 

  --box-shadow-neon-purple:     
    0 0 5px #bc13fe, /* Outer glow */
    0 0 10px #bc13fe, 
    0 0 20px #bc13fe,
    inset 0 0 10px #bc13fe, 
    inset 0 0 20px #bc13fe;

  --box-shadow-neon-current:     
    0 0 5px currentcolor, 
    0 0 10px currentcolor,
    0 0 25px currentcolor;
    /* inset 0 0 5px currentcolor,  */
    /* inset 0 0 10px currentcolor;  */



  --text-shadow-neon-white:
    /* 0 0 3px #fff, */
    0 0 5px #fff,
    0 0 7px #fff;
    /* 0 0 20px #fff; */
  
  --text-shadow-neon-current:
    /* 0 0 5px currentcolor, */
    0 0 10px currentcolor,
    0 0 20px currentcolor;

  --text-shadow-neon-purple: 
    0 0 5px #bc13fe,
    0 0 10px #bc13fe,
    0 0 21px #bc13fe;
    /* 0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe; */
    /* 0 0 7px #bc13fe; hsl(269, 78%, 51%), */
    /* 0 0 10px #fff; */
    /* 0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa; */

    --text-shadow-neon-pink: 
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}

@utility btn {
  &:hover, &:focus-visible {
    box-shadow: var(--box-shadow-neon-current);
    text-shadow: var(--text-shadow-neon-current);
  }
  &:focus-visible {
    outline-color: white;
  }
}

@utility input {
  &:focus-visible {
    box-shadow: var(--box-shadow-neon-current);
    outline-color: white;
  }
}

@utility divider {


  &::before, &::after {
    box-shadow: var(--box-shadow-neon-current);
    background-color: white; 
  }
}

@layer base {
 html {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: large;
  height: 100vh;
  width: 100vw;
  color: var(--color-base-content);
  background-color: var(--color-neon-dark-bg);
  /* background-color: hsl(213, 19%, 9%); */
    
 }

 a {
  color: var(--color-base-content);
 }

 

 .neon-text {
   text-shadow: var(--text-shadow-neon-white);  
  }
  
 h1.neon-text, legend.neon-text {
    text-transform: uppercase;
 }

 .neon-text-white {
  text-shadow: var(--text-shadow-neon-white);
 }
 .neon-box {
  padding: 40px;
  border-radius: 15px;
  /* border: 1px solid var(--color-neon-pink); */
  color: white;
  text-align: center;
  transition: box-shadow 0.3s ease;
 }
 .neon-box-blue {
  box-shadow: var(--box-shadow-neon-blue);
 }
 .neon-box-pink {
  box-shadow: var(--box-shadow-neon-pink);
 }
 .neon-box-purple {
  box-shadow: var(--box-shadow-neon-purple);
 }

 .neon-svg {
  filter: url("/images/filters.svg#neon");

  &:hover, &:focus {
    filter: url("/images/filters.svg#neon-highlight");
  }
 }


 .btn:hover  .neon-svg, a:hover  .neon-svg, :focus-within .neon-svg {
  filter: url("/images/filters.svg#neon-highlight");
 }




 .neon-sign {
  background-color: white;
  box-shadow: var(--box-shadow-neon-white);
 }
 .neon-btn, .btn-outline {
  /* padding: 0px;
  margin: 0px; */
  --btn-shadow: var(--box-shadow-neon-purple);
 }

 .neon-btn:hover {
  --btn-shadow: var(--box-shadow-neon-white);
 }

}