# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Deploy to Gigalixir

on: 
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy main to Gigalixir
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
    - run: sudo pip install gigalixir
    - run: gigalixir login -e "${{ secrets.GIGALIXIR_EMAIL }}" -y -p "${{ secrets.GIGALIXIR_PASSWORD }}"
    - run: gigalixir git:remote ${{ secrets.GIGALIXIR_APP_NAME }}
    - run: git push gigalixir main
